.text-img-svg {
	position: absolute;
	top: 50%;
	right: -12%;
	transform: translateY(-50%);
	z-index: 2;
}

.text-img {
	margin-bottom: -60px;
}

@media (max-width: 1200px) {
    .text-img {
        margin-bottom: 60px;
    }
}


@media (max-width: 992px) {
    .text-img-svg {
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translateY(-50%);
        z-index: 2;
    }
}