.banner-hp {
	background-color: black;
    background-image: url('../../assets/images/banner-hp-bg.png');
    background-position: 35vw 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 167px;
    min-height: 820px;
}

.logo {
	width: 103px;
	height: 40px;
    margin-bottom: 153px;
}

@media (max-width: 1200px) {
    .banner-hp {
        background-image: url('../../assets/images/banner-sm-bg.png');
        background-position: center -20%;
        background-size: contain;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 200px 70px;
        min-height: 100vh;
    }

    .logo {
        margin-bottom: 80px;
    }
}