.menu {
	background-color: black;
	min-height: 760px;
	padding-top: 200px;
	padding-bottom: 90px;
}

.menu-img-container {
	width: 168px;
	height: 112px;
	flex-shrink: 0;
}

.menu-img {
	width: 128px;
	height: 95px;
	object-fit: cover;
}

.line {
    margin-top: -50px;
}

.menu-item {
    border-bottom: 1px solid rgba(255,255,255, 0.12);
}

@media (max-width: 992px) {
	.menu {
		background-color: black;
		min-height: 760px;
		padding-top: 90px;
	}
}

@media (max-width: 490px) {
	.menu-item {
		display: flex;
		flex-direction: column;
	}

	.menu-img-container {
		width: 100%;
		height: 290px;
		margin-bottom: 50px;
	}

	.menu-img {
		width: 100%;
		height: 100%;
	}
}